*{
  margin:0;
  padding: 0;
 }


#paragraph {

  font-size: 17px;
  font-family: "Dosis";
  color: black;
  text-align: center;
}

#blurb {

  font-size: 17px;
  font-family: "Dosis";
  color: black;
  text-align: center;
  padding: 20px 20px;
}

.icon {
  max-width: 20%;
  height: auto;
  margin-left: auto;

}

.topicon {
  max-width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Menu Collapsible */

#menutext {

  font-size: 17px;
  font-family: "Press Start 2P";
  color: black;
  text-align: center;
    background-color: transparent;
}

#menutext:hover {

  font-size: 17px;
  font-family: "Press Start 2P";
    background-color: transparent;
  color: white;
  text-align: center;
}

.menucollapsible {
  max-width: 10%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 10%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
   font-family: "Press Start 2P";
}


.active, .menucollapsible:hover {
  background-color:  transparent;
  color: black;
   font-family: "Press Start 2P";
   font-size: 17px;
}


.menucontent {
    max-width: 10%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
   width: 10%;
  padding: 10px;
  display: none;
  overflow: hidden;
  background-color:  transparent;
  font-family: "Press Start 2P";
  list-style: none;
}



.menuheading {
  
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  font-family: "Press Start 2P";
    background-color: transparent;

}






/* Blog collapsibles */
.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
   font-family: "Yatra One";
}

.bonuscollapsible {
  background-color:  #ace600;
  color: white;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
   font-family: "Yatra One";
}

.active, .collapsible:hover {
  background-color:  white;
  color: black;
   font-family: "Yatra One";
   font-size: 17px;
}

.active, .bonuscollapsible:hover {
  background-color:  white;
  color: black;
   font-family: "Yatra One";
   font-size: 17px;
}

.content {
  padding: 25px;
  display: none;
  overflow: hidden;
  background-color: #f2f2f2;
  font-family: "Dosis";
}

.heading {
  
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  font-family: "Slackey";
 /* border-style: groove;
  border-color: yellow;
  /* border: 10px;
  padding: 15px;
 border-image: url(Assets/Images/BorderTest.png) 30 round;*/
}



/* The styling for the columns in the PORTFOLIO section */

.column {
  float: left;
  width: 25%;
  padding: 5px;

}


.row:after {
  content: "";
  clear: both;
  display: table;
  grid-row-gap: 50px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/* This below section is the styling for the cards in the contact section */

  * {
  box-sizing: border-box;
}

body {
  font-family: "Dosis";
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.cardtext {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: black;
  color: white;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* This below section is the styling for the links in the contact section */

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ff0066;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #ff0066;
  background-color: transparent;
  text-decoration: none;
}

/* This below section is the styling for the buttons in the about and portfolio sections 

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
*/
